
@{
    ViewBag.Title = "CategoryAdd";
}

<h2>CategoryAdd</h2>

<div class="col-sm-4">
    <form id="idForm" data-bind="submit: register" method="post">
        <h3>Add new cateogry</h3>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" id="Name" type="text" onkeyup="validateName()" data-bind="value:Name" /> <label id="commentNamePrompt"></label>
        </div>
        <div class="form-group">
            <label>Estimated time</label>
            <input class="form-control" id="Time" type="text" onkeyup="validateTime()" data-bind="value:Time" /> <label id="commentTimePrompt"></label>
        </div>
    
        <div class="form-group">
            <button type="button" onclick="postFunction()" class="btn btn-default">Add new category</button>
        </div>

    </form>
</div>

<select id="dropsterMain">
    <option value="test1">All</option>
</select>
@section scripts{
    <script>

  function postFunction() {

        var name = $("#Name").val();
        var time = $("#Time").val();     

        var reqdata = {
            name: name,
            duration: time            
        }

        var stringReqdata = JSON.stringify(reqdata);

        $.ajax({

            url: "https://alltbokatwebapi.azurewebsites.net/api/Account/Register",
            type: "POST",
            data: stringReqdata,
            contentType: 'application/json; charset=utf-8',

            success: function (data) {

            },

            error: function (msg) { alert(msg + ""); }
        });

    }


  $(document).ready(function () {
      //getCategories();
      $.ajax({

          url: "https://alltbokatwebapi.azurewebsites.net/api/ApplicationUsers/",
          type: "Get",

          success: function (data) {

              for (var i = 0; i < data.length; i++) {
                  var result = data[i].Name + " " + data[i].Time;
                  //var id = data[i].Id;
                  //för bokningsfönstrets dropdownmeny
                  $('#dropster').append($('<option>', {
                      //value: id,
                      text: result
                  }));
                  //för huvudsidans dropdownmeny
                  $('#dropsterMain').append($('<option>', {
                      //value: id,
                      text: result

                  }));

              }
          },

          error: function (msg) { alert(msg + "fel"); }
      });
  });

    </script>
    }