
@{
    ViewBag.Title = "CategoryAdd";
}

<h2>CategoryAdd</h2>

<div class="col-sm-4">
    <form id="idForm" data-bind="submit: register" method="post">
        <h3>Add new cateogry</h3>
        <div class="form-group">
            <label>Name</label>
            <input class="form-control" id="Name" type="text" onkeyup="validateName()" data-bind="value:Name" /> <label id="commentNamePrompt"></label>
        </div>
        <select id="dropHours">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
        </select>
        <select id="dropMinutes">
            <option value="0">0</option>
            <option value="15">15</option>
            <option value="30">30</option>
            <option value="45">45</option>
        </select>

        <div class="form-group">
            <button type="button" onclick="postFunction()" class="btn btn-default">Add new category</button>
        </div>

    </form>
</div>

<select id="dropsterMain">
    <option value="test1">All</option>
</select>
@section scripts{
    <script>

        function postFunction() {

            var name = $("#Name").val();
            var hours = $("#dropHours").val();
            var minutes = $("#dropMinutes").val();

            alert(hours + ":" + minutes)
            var reqdata = {
                Name: name,
                Hour: hours,
                Minutes: minutes
            }

            var stringReqdata = JSON.stringify(reqdata);

            $.ajax({

                url: "http://localhost:55579/api/CategoryModels",
                type: "POST",
                data: stringReqdata,
                contentType: 'application/json; charset=utf-8',

                success: function (data) {

                },

                error: function (msg) { alert(msg + ""); }
            });

        }


        $(document).ready(function () {
            //getCategories();
            $.ajax({

                url: "http://localhost:55579/api/CategoryModels",
                type: "Get",

                success: function (data) {

                    for (var i = 0; i < data.length; i++) {
                        var result = data[i].Name;
                        //var id = data[i].Id;
                        //för bokningsfönstrets dropdownmeny
                        $('#dropster').append($('<option>', {
                            //value: id,
                            text: result
                        }));
                        //för huvudsidans dropdownmeny
                        $('#dropsterMain').append($('<option>', {
                            //value: id,
                            text: result

                        }));

                    }
                },

                error: function (msg) { alert(msg + "fel"); }
            });
        });

    </script>
}