
@*CooooooooooooooooooooooooooMent!!!!!!*@

@{
    ViewBag.Title = "Index";
}

<h2>jQuery fullcalendar demo</h2>

<div id="fullcalendar"></div>


@section Scripts {
   
    
<script type="text/javascript">
    function getCalendar() {
        $('#fullcalendar').fullCalendar('destroy');
        $('#fullcalendar').fullCalendar('render');
             
        var idNumber = $('#dropsterMain').val();
        
        if (idNumber.length < 10)
            var url = "https://alltbokatwebapi.azurewebsites.net//api/BookingModels";
        else
            var url = "https://alltbokatwebapi.azurewebsites.net//api/BookingModels/UsersBookings/" + idNumber;
                
            $.ajax({

                url: url,
                
                type: "Get",

                success: function (data) {
                    var jsonevents = [];
                    for (var i = 0; i < data.length; i++) {
                        var description = data[i].Description;
                        var begin = data[i].StartTime;
                        var End = data[i].EndTime;
                        var ID = data[i].Id;
                        var Booker = data[i].CustomerName;
                        var bookerEmail = data[i].CustomerEmail;

                        jsonevents[i] = { "title": description, "email": bookerEmail, "start": begin, "BookedBy": Booker, "end": End, "BookingId": ID, "allDay": false };

                    }
                   
                    $('#fullcalendar').fullCalendar({
                        
                        defaultTimedEventDuration: '01:00:00',
                        header: {
                            left: 'prev,next today',
                            center: 'title',
                            right: 'month,agendaWeek,agendaDay'
                        },

                        defaultView: 'month',
                        editable: false,
                        allDaySlot: false,
                        selectable: true,
                        slotMinutes: 15,
                        defaultDate: new Date(),
                        timeFormat: {
                            agenda: 'HH:mm'
                        },

                        events: jsonevents,

                        eventClick: function (calEvent, jsEvent, view) {

                            var dateTimeStringStart = moment(calEvent.start).format("DD-MM-YYYY HH:mm:ss");
                            var dateTimeStringEnd = moment(calEvent.end).format("DD-MM-YYYY HH:mm:ss");
                            var title = calEvent.title;
                            var bookedBy = calEvent.BookedBy;
                            var bookingId = calEvent.BookingId;
                            var emailUs = calEvent.email;

                            $('#InfoDescription').html(title);
                            $('#InfoTime').html(dateTimeStringStart + " - " + dateTimeStringEnd);
                            $('#InfoEpost').html(emailUs);
                            $('#InfoBookedBy').html(bookedBy);
                            $('#InfoBookingId').html(bookingId);
                            $('#InfoDiv').modal('show');

                        },
                        dayClick: function (date, allDay, jsEvent, view) {

                            var x = date.format();
                            
                            var d = new Date(x);
                            d.setHours(d.getHours() + 1);
                                                                        
                            var view = $('#fullcalendar').fullCalendar('getView');

                            if (view.name === "month") {
                                $('#fullcalendar').fullCalendar('gotoDate', date);
                                $('#fullcalendar').fullCalendar('changeView', 'agendaDay');
                            }
                            else {

                                $('#BookingDiv').modal('show');
                                $('#TID').html(x);
                                $("#EndingTime").html(d);

                            }

                        }

                    });
                },

                error: function (msg) { alert(msg + "error"); }
            });

        
    }

     function postFunction() {           
             

                function addZero(i) {
                    if (i < 10) {
                        i = "0" + i;
                    }
                    return i;
                }
                
                var startingTime = $("#TID").text();
                var d = new Date(startingTime);
                var timeInAnHour = d.getFullYear() + '-' + addZero(d.getMonth() + 1) + '-' + addZero(d.getDate()) + 'T' + addZero(d.getHours() + 1) + ':' + addZero(d.getMinutes()) + ':' + addZero(d.getSeconds());
                
                var today = new Date;
                var dateToday = new Date(today);
                var timeNow = dateToday.getFullYear() + '-' + addZero(dateToday.getMonth() + 1) + '-' + addZero(dateToday.getDate()) + 'T' + addZero(dateToday.getHours()) + ':' + addZero(dateToday.getMinutes()) + ':' + addZero(dateToday.getSeconds());
                
                if (timeInAnHour >= timeNow) {
                    var reqBooking = {
                        CustomerEmail: $("#inputEmail").val(),
                        Description: $("#inputDescription").val(),
                        ApplicationUserId: $("#dropster :selected").val(),
                        CustomerName: $("#inputName").val(),                        
                        startTime: startingTime,
                        endTime: timeInAnHour
             
                    }
                    var stringReqdata = JSON.stringify(reqBooking);
                    $.ajax({

                        url: "https://alltbokatwebapi.azurewebsites.net/api/BookingModels",
                        type: "POST",
                        data: stringReqdata,
                        contentType: 'application/json; charset=utf-8',

                           success: function (data) {
                           
                            location.reload();
                   
                        },

                        error: function (msg) { alert(msg + ""); }
                    });
                }
                else

                    $('#timeErrorDiv').modal('show');
    }
    
</script>

<script>

    $(document).ready(function () {
        getCalendar();
        $.ajax({
         
                url: "https://alltbokatwebapi.azurewebsites.net/api/ApplicationUsers/",
            type: "Get",

            success: function (data) {

                for (var i = 0; i < data.length; i++) {
                    var result = data[i].FirstName + " " + data[i].LastName;
                    var id = data[i].Id;
                    //för bokningsfönstrets dropdownmeny
                    $('#dropster').append($('<option>', {
                        value: id,
                        text: result
                    }));
                    //för huvudsidans dropdownmeny
                    $('#dropsterMain').append($('<option>', {
                        value: id,
                        text: result

                    }));

                }
            },

            error: function (msg) { alert(msg + "fel"); }
        });
    });

 
    function validateName()/*kontakt.html: function som körs"onKeyup" när man skriver in ett tecken i namnfältet*/ {

        var name = document.getElementById("inputName").value;/* scannar dokumentet och hämtar värdet av id=commentName"textrutan med namn" och gör detta till en lokal variabel*/

        if (name.length == 0 || name.length > 100)/*om namnet i namnfältet är helt tomt kör koden i if satsen*/ {
            producePrompt("Fill in your name", "commentNamePrompt", "red");/*kör functionen producePrompt, prompten ska visas där variabeln commentNamePrompt finns med färgen röd*/
            return false;
        }
        else if (!name.match(/^[A-Za-z0-9åäöÅÄÖ]*\s{1}[A-Za-z0-9åäöÅÄÖ]*$/))/*else if satsen Körs om namnet inte matchar regex utan innehåller tecken som inte är godkända */ {
            producePrompt("For and lastname", "commentNamePrompt", "red")
            return false;
        }


        else {
            producePrompt("√", "commentNamePrompt", "green")/*Om namnet är ok, körs else och välkomnar avändaren */
            return true;
        }

    }

    function validateEmail() {
        var email = document.getElementById("inputEmail").value;
        if (email.length == 0 || email.length > 100) {
            producePrompt("E-mail is missing", "commentEmailPrompt", "red");/*Om inget är ifyllt i epost efterfrågas detta med hjälp av ett anrop till vår produceprompt function*/
            return false;
        }

        else if (!email.match(/^[A-Za-z\._\-0-9]*[@@][A-Za-z]*[\.][a-z]{2,4}$/))/*Om mail har andra tecken än de vi angivit i regex körs else if*/
        {
            producePrompt("Unvalid E-mail", "commentEmailPrompt", "red")
            return false;
        }

        else {
            producePrompt("√", "commentEmailPrompt", "green")/*Mailen är godkänd och else satsen körs*/
            return true;

        }
    }

    function validateComment() {
        var comment = document.getElementById("inputDescription").value; /*skapar en lokal variabel av innehållet i kommentarfältet */
        var required = 10; /*Skapar en lokal variabel med värdet 10*/
        var left = required - comment.length; /*skapar en lokal variabel som är värdet av det krävda antalet tecken minus det antal som angivits */


        if (left > 0) {  /* Om left(kvarvarande krävda tecken) är större än noll körs if satsen annars godkänns kommentaren och else satsen körs*/
            producePrompt("At least "+ left + " more signs are needed", "commentMessagePrompt", "red");
            return false;
        }

        else {
            

            producePrompt("√", "commentMessagePrompt", "green");
                if (comment.length < 100) {
                    return true;
                }
                else {
                    producePrompt("Error, message to long to send", "commentMessagePrompt", "red");
                    return false;
                }
                }
    }
   
        function producePrompt(message, promptLocation, color) {

            document.getElementById(promptLocation).innerHTML = message; /*promptlocation är vart prompten visas, innerHtml sätts lika med medelandet från variabeln message*/
            document.getElementById(promptLocation).style.color = color;/*skannar dokumentet igen och sätter färgen vi skickat med i variablen*/
        }

        function validateCommentForm() {

            if (validateName() && validateEmail() && validateComment())/*Om någon av valideringsfunktionerna INTE retunerar true körs if satsen*/ {
                postFunction();
            }
        
        }
</script>

}
<button type="button" onclick="getCalendar()" >Choose</button>

<select id="dropsterMain">
    <option value="test1">All</option>   
</select>

<!-- Modal -->
<div id="BookingDiv" class="modal fade" role="dialog" >
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Booking</h4>
            </div>
            <div class="modal-body">
                <form>
                    Deliverer
                    <br>
                    <select id="dropster">                  
                    </select>
                    <br>
                    <br>
                    Starting Time:
                    <br>
                    <label id="TID"></label>
                    <br>
                    Ending Time:
                    <br>                    
                    <label id="EndingTime"></label>
                    <br>
                    Name:                    
                    <br>
                    <input id="inputName" onkeyup="validateName()" class="commentFormInput" type="text" /> <label id="commentNamePrompt"></label>
                    <br/>                    
                    E-mail:                    
                    <br>
                    <input id="inputEmail" onkeyup="validateEmail()" class="commentFormInput" type="text"/> <label id="commentEmailPrompt"></label>
                    <br/>                    
                    Description:                    
                    <br>
                    <textarea id="inputDescription" onkeyup="validateComment()" class="commentFormTextArea" ></textarea> <label id="commentMessagePrompt"></label>
                    <br>
                   
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" onclick="validateCommentForm()" class="btn btn-default" >Book</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>            
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div id="InfoDiv" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Booking info</h4>
            </div>
            <div class="modal-body">
                <form>

                    Booking Id:
                    <br>
                    <label id="InfoBookingId"></label>
                    <br>
                    Time: 
                    <br>                   
                    <label id="InfoTime"></label>
                    <br>
                    Customer Name:
                    <br>
                    <label id="InfoBookedBy"></label>
                    <br>
                    Customer E-mail:
                    <br>
                    <label id="InfoEpost"></label>
                    <br>
                    Description:
                    <br>
                    <label id="InfoDescription"></label>
                    <br>

                </form>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<div id="timeErrorDiv" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Error</h4>
            </div>
            <div class="modal-body">
                <br/>
               <h4>Please select a valid date for your reservation</h4>
                <br/>
                <br/>

           </div>
            </div>
        </div>
</div>





