
@{
    ViewBag.Title = "LogIn";

}

<h2>LogIn</h2>

<div class="col-sm-4">
    <form id="idForm" data-bind="submit: register" method="post">
        <h3>Log In</h3>


        <div class="form-group">
            <label> Username</label>
            <input class="form-control" id="UserName" type="text" onkeyup="validateUserName()" data-bind="value:UserName" /> <label id="commentUserNamePrompt"></label>
        </div>


        <div class="form-group">
            <label>Password</label>
            <input class="form-control" id="Password" type="password" onkeyup="validatePassword()" data-bind="value:Password" /> <label id="commentPasswordPrompt"></label>
        </div>
        <div class="form-group">
            <button type="button" onclick="sendLogIn()" class="btn btn-default">Log In</button>
        </div>


    </form>
</div>

@section scripts{

    <script>

        function sendLogIn() {




            $.ajax({
                url: 'http://localhost:55579/token',
                method: 'POST',
                contentType: 'application/json',
                data: {
                    username: $('#UserName').val(),
                    password: $('#Password').val(),
                    grant_type: 'password'


                },

                success: function (response) {
                    sessionStorage.setItem('acessToken', response.acess_token);
                    //window.location.href = "/Home/VisualSettings"
                    window.location.href = '@Url.Action("Settings", "Home")/';
                    //var x = sessionStorage.getItem('acessToken').toString();
                    //var y = x.valueOf;
                    alert(sessionStorage.getItem('acessToken'));
                    alert("Det gick bra att logga in" + JSON.stringify(response));

                },
                error: function (JQxhr) {

                    alert("ajja bajja" + JSON.stringify(JQxhr));

                }

















            });

            //alert(sessionStorage.getItem('acessToken' + "number two"));

            //var thisUserName = sessionStorage.getItem('userName');

            //$.ajax({

            //    url: "https://alltbokatwebapi.azurewebsites.net/api/ApplicationUsers/",
            //    type: "Get",

            //    success: function (data) {


            //        for (var i = 0; i < data.length; i++) {
            //            var userName = data[i].UserName;
            //            var id = data[i].Id;

            //            if (userName == thisUserName) {
            //                var ActiveUserId = data[i].Id;
            //                sessionStorage.setItem('ThisUserId', ActiveUserId);
            //            }


            //        }
            //    },

            //    error: function (msg) { alert(msg + "fel"); }
            //});























        }


          //username: $('#UserName').val(),
                    //password: $('#Password').val(),
                    //username: 'JonnaElf',
                    //password: 'Vintergatan - 154',
                    //grant_type: 'password'



    </script>




}