
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<div class="col-sm-4">
    <form id="idForm" data-bind="submit: register" method="post">
        <h3>Register</h3>
        <div class="form-group">
            <label>First Name</label>
            <input class="form-control" id="FirstName" type="text" data-bind="value:FirstName" />
        </div>
        <div class="form-group">
            <label>Last Name</label>
            <input class="form-control" id="LastName" type="text" data-bind="value:LastName" />
        </div>
        <div class="form-group">
            <label> Username</label>
            <input class="form-control" id="UserName" type="text" data-bind="value:UserName" />
        </div>
       
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" id="Email" type="text" data-bind="value:Email" />
        </div>
        <div class="form-group">
            <label>Password</label>
            <input class="form-control" id ="Password" type="password" data-bind="value:Password" />
        </div>
        <div class="form-group">
            <label>Confirm Password</label>
            <input class="form-control" id="ConfirmPassword" type="password" data-bind="value:ConfirmPassword" />
        </div>
        <div class="form-group">
            <button type="submit" id="rgButton" class="btn btn-default">Register</button>
        </div>
       
    </form>
</div>

@*Coooooooooment!!!!!!!!!!!!!*@




@section scripts{<script>
    
    $("#rgButton").click(function () {

          

        var email = $("#Email").val();
        var password = $("#Password").val();
        var confirmPassword = $("#ConfirmPassword").val();
        var firstName = $("#FirstName").val();
        var lastName = $("#LastName").val();
        var userName = $("#UserName").val();  
        var reqdata = {
            Password:password,
            ConfirmPassword:password,
            Email: email,
            FirstName: firstName,
            LastName: lastName,
            UserName: userName
        }
        var stringReqdata = JSON.stringify(reqdata);
        alert(stringReqdata);

        $.ajax({

            url: "http://localhost:55579/api/Account/Register",
            type: "POST",
            data: stringReqdata,
            contentType: 'application/json; charset=utf-8',

            success: function (data) {
                alert("it's working! HOOAAH!");
                        
                       
            },

            error: function (msg) { alert(msg + ""); }
        });
        
    })
     

</script>
    
    }
   