
@{
    ViewBag.Title = "Start";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body onload="getActiveCss();">
    <br />
    <br />
    <h2>Start</h2>

    <br />

    <div id="startPagePictureDiv">
        <img id="testbild" src="" alt="Smiley face">
    </div>

    <div id="startPageTextDiv">
        <h4 id="startText"></h4>
    </div>
    <div class="col-sm-4">
        <form id="idForm" data-bind="submit: register" method="post">
            <h3>Picture URL</h3>
            <div class="form-group">
                <input class="form-control" id="pictureUrl" type="text" onkeyup="validateFirstName()" data-bind="value:FirstName" /> <label id="commentFirstNamePrompt"></label>
            </div>

            <div class="form-group">
                <button type="button" onclick="updatePictureFunction()" class="btn btn-default">Add new picture</button>
            </div>

            <h3>New start Text</h3>
            <div class="form-group">
                <input class="form-control" id="startTextLabel" type="text" onkeyup="validateFirstName()" data-bind="value:FirstName" /> <label id="commentFirstNamePrompt"></label>
            </div>

            <div class="form-group">
                <button type="button" onclick="updateStartTextFunction()" class="btn btn-default">Add new text</button>
            </div>
        </form>
    </div>

    @section scripts{
        <script>

            $(document).ready(function () {

                $.ajax({

                    url: "http://localhost:55579/api/VisualSettingsModels",
                    type: "Get",

                    success: function (data) {

                        for (var i = 0; i < data.length; i++) {
                            var picUrl = data[i].PictureUrl;
                            var startTextString = data[i].StartText;

                            document.getElementById('testbild').setAttribute('src', picUrl)
                            document.getElementById('startText').innerHTML = startTextString;
                        }
                    },

                    error: function (msg) { alert(msg + "startfel"); }
                });
            });

           
        </script>

    }
</body>