
@{
    ViewBag.Title = "Start";
}
<br />
<br />
<h2>Start</h2>

@*<img src="https://s-media-cache-ak0.pinimg.com/originals/de/6a/cf/de6acfcd1752634d96cd50d94acb93f7.jpg" alt="Smiley face">*@ 

@*<a id="destination" href=test.html>I need the value of "splitText" variable here</a>*@

<br />
<p>test här</p>
<img id="testbild"src="" alt="Smiley face"> 


<div class="col-sm-4">
    <form id="idForm" data-bind="submit: register" method="post">
        <h3>Picture URL</h3>
        <div class="form-group">
            <input class="form-control" id="pictureUrl" type="text" onkeyup="validateFirstName()" data-bind="value:FirstName" /> <label id="commentFirstNamePrompt"></label>
        </div>
       
        <div class="form-group">
            <button type="button" onclick="postFunction()" class="btn btn-default">Add new picture</button>
        </div>
    </form>
</div>

@section scripts{
    <script>

        alert("yo")
        function postFunction() {
            var picture = document.getElementById("pictureUrl").value;
            //alert(picture)
            //document.getElementById("destination").innerHTML = "I need the value of " + picture + " variable here";

            document.getElementById('testbild').setAttribute('src', picture)
        }
   
        //$(document).ready(function () {
        //    getCalendar();
        //    $.ajax({

        //        url: "http://localhost:55579/api/CategoryModels",
        //        type: "Get",

        //        success: function (data) {

        //            for (var i = 0; i < data.length; i++) {
        //                var result = data[i].Name + " " + data[i].Hour + ":" + data[i].Minutes;
        //                var Hours = data[i].Hour;

        //                var Minutes = data[i].Minutes;
        //                //för bokningsfönstrets dropdownmeny
        //                $('#CategoryDropster').append($('<option>', {
        //                    Hours: Hours,
        //                    Minutes: Minutes,
        //                    text: result

        //                }));


        //            }
        //        },

        //        error: function (msg) { alert(msg + "fel"); }
        //    });
        //});


        function updateFunction() {

            var email = $("#Email").val();
            

            var reqdata = {
                Password: password,
            
            }

            var stringReqdata = JSON.stringify(reqdata);

            $.ajax({

                url: "https://alltbokatwebapi.azurewebsites.net/api/Account/Register",
                type: "PUT",
                data: stringReqdata,
                contentType: 'application/json; charset=utf-8',

                success: function (data) {

                },

                error: function (msg) { alert(msg + ""); }
            });

        }

    </script>

}