
@{
    ViewBag.Title = "UnApprovedBookings";
    Layout = "~/Views/Shared/_LayoutLoggedIn.cshtml";
}

<h2>UnApprovedBookings</h2>
<br />
<h1 id="numberOfUnApprovedBookings"></h1>
<br />
<select id="dropsterUnApprovedBookings"></select>
<br />
<br />
<br />
<table id="UnApprovedBookingstable" style="border: 1px solid black;"></table>


<textarea rows="4" cols="50" id="textAreaUnApprovedBookings"> </textarea>

<button type="button" onclick="acceptBookingFunction()">Accept Booking</button>
@section scripts{
    <script>
        $(document).ready(function () {

            ////var thisUserId = sessionStorage.getItem('ThisUserId').toString();

            ////alert(thisUserId + "thisUserId");
            //var thisToken = sessionStorage.getItem('acessToken').toString();
            //alert(thisToken + "this token");

            $.ajax({
                //var url = "https://alltbokatwebapi.azurewebsites.net//api/BookingModels/UsersBookings/" + idNumber;
                url: "https://alltbokatwebapi.azurewebsites.net//api/BookingModels",
                type: "Get",

                success: function (data) {

                    var trHTML = '';
                    for (var i = 0; i < data.length; i++) {

                        //if (data[i].Id == 1) {
                        //trHTML += '<tr>' + '<td>' + data[i].CustomerName + "<button id=" + "acceptBookingBtn" + "> Accept </button>" + " |  " + '</td>' + '<td>' + data[i].CustomerEmail + " |  " + '</td>' + '<td>' + data[i].StartTime + " |  " + '</td>' + '<td>' + data[i].EndTime + " |  " + '</td>' + '<td>' + data[i].Description + '</td>' + '<td>' + "<button id=" + "acceptBookingBtn" + "> Accept </button>" + '</td>' + '</tr>';

                        var result = data[i].CustomerName;
                        var id = data[i].Id;

                        var numberOf = data.length;


                        //numberOfUnApprovedBookings
                        //document.getElementById('testbild').setAttribute('src', picUrl)
                        document.getElementById('numberOfUnApprovedBookings').innerHTML = numberOf

                        //$('#UnApprovedBookingstable').append(trHTML);

                        //drop test från här
                        $('#dropsterUnApprovedBookings').append($('<option>', {
                            value: id,
                            text: result

                        }));
                        //}


                    }

                    //$('button.delbtn').click(function () {
                    //    $(this).parent().remove();
                    //});

                    //    $('#acceptBookingBtn').click(function () {
                    //        //var test = $(this).Id;
                    //        var test = $(this).parent().remove();
                    //    alert(test);
                    //});
                }


            });
        });

        $("#dropsterUnApprovedBookings").change(function () {
            getSelectedUnApprovedBookingFunction();
        });

        function getSelectedUnApprovedBookingFunction() {
            $.ajax({
                //var url = "https://alltbokatwebapi.azurewebsites.net//api/BookingModels/UsersBookings/" + idNumber;
                url: "https://alltbokatwebapi.azurewebsites.net//api/BookingModels",
                type: "Get",

                success: function (data) {
                    $('#textAreaUnApprovedBookings').val("");

                    var idNumber = $('#dropsterUnApprovedBookings').val();

                    var trHTML = '';
                    for (var i = 0; i < data.length; i++) {

                        if (data[i].Id == idNumber) {
                            //trHTML = '<tr>' + '<td>' + data[i].CustomerName + "<button id=" + "acceptBookingBtn" + "> Accept </button>" + " |  " + '</td>' + '<td>' + data[i].CustomerEmail + " |  " + '</td>' + '<td>' + data[i].StartTime + " |  " + '</td>' + '<td>' + data[i].EndTime + " |  " + '</td>' + '<td>' + data[i].Description + '</td>' + '<td>' + "<button id=" + "acceptBookingBtn" + "> Accept </button>" + '</td>' + '</tr>';
                            trHTML = data[i].CustomerName + " |  " + data[i].CustomerEmail + " |  " + data[i].StartTime + " |  " + data[i].EndTime + " |  " + data[i].Description;
                            var result = data[i].CustomerName;
                            var id = data[i].Id;



                            $('#textAreaUnApprovedBookings').append(trHTML)

                            //drop test från här
                            //$('#dropsterUnApprovedBookings').append($('<option>', {
                            //    value: id,
                            //    text: result

                            //}));
                        }

                    }

                    //$('button.delbtn').click(function () {
                    //    $(this).parent().remove();
                    //});

                    //    $('#acceptBookingBtn').click(function () {
                    //        //var test = $(this).Id;
                    //        var test = $(this).parent().remove();
                    //    alert(test);
                    //});
                }


            });
        };

        function acceptBookingFunction() {
            var idNumber = $('#dropsterUnApprovedBookings').val();
            alert("woho bokning " + idNumber + " är accepterad!");
        }
    </script>

}