
@{
    ViewBag.Title = "UnApprovedBookings";
}

<h2>UnApprovedBookings</h2>
<br />
<br />
@*<select id="dropsterUnApprovedBookings"></select>*@

<table id="UnApprovedBookingstable" style="border-style: solid; border-color: lawngreen">
 <thead>Namn</thead>
    <thead>Email</thead>
    <thead>Namn</thead>
    <thead>Starttid</thead>
    <thead>Sluttid</thead>
    <thead>Beskrivning</thead>    
</table>


@section scripts{
    <script>           
        
        //$(document).ready(function () {
        //    $.ajax({

        //        url: "https://alltbokatwebapi.azurewebsites.net//api/BookingModels",
        //        type: "Get",

        //        success: function (data) {                  

        //            for (var i = 0; i < data.length; i++) {
        //               var description = data[i].Description;
        //                 var begin = data[i].StartTime;
        //                 var End = data[i].EndTime;
        //                 var ID = data[i].Id;
        //                 var Booker = data[i].CustomerName;
        //                 var bookerEmail = data[i].CustomerEmail;

        //                 var result ="Beskrivning :" + data[i].Description;
        //                    var Minutes = data[i].Minutes;
        //                    //för bokningsfönstrets dropdownmeny
        //                    $('#dropsterUnApprovedBookings').append($('<option>', {
                          
        //                        text: result

        //                }));


        //            }
        //        }
        //    });
        //});



        $(document).ready(function () {
            $.ajax({
                //var url = "https://alltbokatwebapi.azurewebsites.net//api/BookingModels/UsersBookings/" + idNumber;
                url: "https://alltbokatwebapi.azurewebsites.net//api/BookingModels",
                type: "Get",

                success: function (data) {

                    //for (var i = 0; i < data.length; i++) {
                    //    var description = data[i].Description;
                    //    var begin = data[i].StartTime;
                    //    var End = data[i].EndTime;
                    //    var ID = data[i].Id;
                    //    var Booker = data[i].CustomerName;
                    //    var bookerEmail = data[i].CustomerEmail;

                    //    var result = "Beskrivning :" + data[i].Description;
                    //    var Minutes = data[i].Minutes;
                    //    //för bokningsfönstrets dropdownmeny
                    //    $('#dropsterUnApprovedBookings').append($('<option>', {

                    //        text: result

                    //    }));
                    //}


                    
                        var trHTML = '';
                        for (var i = 0; i < data.length; i++) {                      
                            trHTML += '<tr>' + '<td>' + data[i].CustomerName + '</td>' + '<td>' + data[i].CustomerEmail + '</td>' +  '<td>' + data[i].StartTime + '</td>' + '<td>' + data[i].EndTime + '</td>' + '<td>' + data[i].Description + '</td>' + '<td>'+  "<button class=" +"acceptBookingBtn" +"> Accept </button>"+ '</td>' + '</tr>';
                            }
                            $('#UnApprovedBookingstable').append(trHTML);


                            //$('button.delbtn').click(function () {
                            //    $(this).parent().remove();
                            //});
                }

                
            });
        });

    </script>

}