/*body {
}*/

#Mainer {
    background-color: yellow;
}

#ThemeSettingsSurround {
    width: 50%;
    float: left;
}

#PicAndTextSurround {
    width: 50%;
}


#ThemeSettings {
    height: 15%;
    width: 100%;
    margin-top: 0%;
    background-color: whitesmoke;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

#PicAndText {
    width: 100%;
    height: 15%;
    margin-top: 0%;
}

#CreateCategories {
    display: block;
    margin-top: 10%;
    background-color: whitesmoke;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

#SetPicture {
    /*width: 50%;*/
    margin-top: 0%;
    float: left;
    background-color: whitesmoke;
    padding-right: 4%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

#SetText {
    /*width: 50%;*/
    margin-top: 0%;
    float: left;
    background-color: whitesmoke;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

#dropMinutes {
    margin-left: 1%;
    background-color: whitesmoke;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

#minutes {
    margin-left: 1%;
    background-color: whitesmoke;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
}

#Mainer {
    width: 100%;
}

#PicAndText {
    width: 100%;
    height: 15%;
    margin-top: 0%;
}




#NewOpenHours {
    display: block;
    background-color: green;
    width: 500px;
}

.col-sm-4 {
    width: 60%;
}
